<!-- Titulo -->
<section class="titulo mt-4">
  <h2 class="text-center">
    <a>
      <img src="../../../assets/img/logo.png" class="img-fluid" alt="Logo" />
    </a>
  </h2>
</section>
<!-- Titulo -->
<section>
  <div
    class="container-fluid login vh-70 d-flex align-items-center justify-content-center mb-3"
  >
    <div class="row">
      <!-- Imagen -->
      <div class="col-md-6">
        <img
          src="../../../assets/img/img-iniciosesion.png"
          class="img-iniciosesion"
        />
      </div>
      <!-- Imagen -->
      <!-- Formulario -->
      <div class="col-md-6">
        <div class="card m-3 text-center d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center m-2">Inicio de Sesion</h5>
            <form [formGroup]="form" (ngSubmit)="login()">
              <div class="form-group">
                <label for="usuario"> Usuario </label>
                <input
                  type="text"
                  name="usuario"
                  formControlName="usuario"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <label for="contrasena"> Contraseña </label>
                <input type="password" name="contrasena" formControlName="contrasena" />
                <p *ngIf="form.hasError('invalidCredentials')" class="error-msg">
                  Las credenciales son incorrectas
                </p>
              </div>

              <div class="d-flex justify-content-between mb-5">
                <button type="submit" [disabled]="form.invalid || processingRequest">
                  Iniciar Sesión
                </button>
                <a class="btn btn-dark m-1">Registrar</a>
              </div>
            </form>
          </div>
        </div>
        <!-- Formulario -->
      </div>
    </div>
  </div>
</section>
