.titulo{
  color: #213555;
}

.img-iniciosesion{
  width: 320px;
  height: 320px;
}

.background {
  background-color: aliceblue;
  font-family: Lato;
}

/* Estilos para campos de entrada */
.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #4f709c;
  border-radius: 0;
  padding: 5px 0;
  height: 40px;
}

.form-control:focus {
  border-color: #4f709c;
}

/* Estilos para etiquetas (labels) */
label {
  position: absolute;
  top: -10px;
  font-size: 12px;
  color: #4f709c;
}

:host {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-content: center;
}

div {
  background-color: #fff;
  min-width: 400px;
  border-radius: 8px;
  padding: var(--double-separation);
}

h1 {
  margin-bottom: var(--base-separation);
  color: #5005c0;
}

form {
  display: flex;
  flex-direction: column;
}

.error-msg {
  font-size: 0.8em;
  color: #b50606;
}
