<div class="container mt-5">
  <div class="row">
      <div class="col-md-12 mt-5">
          <h2 class="text-center mt-5 mb-5">Productos en el carrito</h2>
          <div class="my-2 text-left">
          </div>
          <table class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre Producto</th>
                      <th>Descripción</th>
                      <th>Precio</th>
                      <th>Descuento</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1</td>
                      <td>Producto 1</td>
                      <td>Descripción del Producto 1</td>
                      <td>$100.00</td>
                      <td>10%</td>
                      <td>
                          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                      </td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Producto 2</td>
                      <td>Descripción del Producto 2</td>
                      <td>$150.00</td>
                      <td>15%</td>
                      <td>
                          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                      </td>
                  </tr>
                  <!-- Puedes agregar más filas con datos de productos aquí -->
                  <tr>
                      <td>3</td>
                      <td>Producto 3</td>
                      <td>Descripción del Producto 3</td>
                      <td>$120.00</td>
                      <td>8%</td>
                      <td>
                          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                      </td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Producto 4</td>
                      <td>Descripción del Producto 4</td>
                      <td>$200.00</td>
                      <td>12%</td>
                      <td>
                          <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <p class="text-center mb-5">Aquí encontrarás una lista de nuestros productos. Puedes eliminar productos haciendo clic en el botón "Eliminar".</p>
          <div class="text-center mb-5">
              <button type="button" class="btn btn-dark">Comprar</button>
          </div>
      </div>
  </div>
</div>
