<footer class="footer text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-3">TiendaPopaco</h5>
        <p>
          TiendaPopaco es una plataforma de comercio electrónico diseñada
          para brindar a los usuarios la experiencia de compra en línea más
          conveniente y atractiva.
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Explorar</h5>
        <ul class="list-unstyled">
          <li>Inicio</li>
          <li>¿Quienes Somos?</li>
          <li>Preguntas Frecuentes</li>
          <li>Terminos y condiciones</li>
          <li>Politicas de privacidad</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Contactanos</h5>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://api.whatsapp.com/send?phone=573218561630"
          ><i class="fab fa-whatsapp"></i> 3218561630</a
        >
      </div>
    </div>
  </div>
</footer>
