<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <img src="../../../assets/img/logo.png" alt="" />
          <p>
            TiendaPopaco es una plataforma de comercio electrónico diseñada para
            brindar a los usuarios la experiencia de compra en línea más
            conveniente y atractiva.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>Explorar</h2>
          <ul>
            <li><a href="#">¿Quienes Somos?</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>Contactanos</h2>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-square"></i>  Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i>  X</a></li>
            <li><a href="#"><i class="fab fa-instagram-square"></i>  Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single-box">
          <h2>Informacion</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur doloremque earum similique fugiat nobis. Facere?
          </p>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa tu email"
              aria-label="Ingresa tu email"
              aria-describedby="basic-addon2"
            />
            <span class="input-group-text" id="basic-addon2"
              ><i class="fas fa-sign-out-alt"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="btnWhats position-fixed">
  <a
    href="https://wa.me/573108495243?text=Estoy interesado en un producto!"
    target="_blank"
  >
    <img src="../../../assets/img/whatsapp.png" alt="Contacto whatsapp" class="img-fluid" />
  </a>
</div>
