<section>
  <div class="container" style="margin: 100px">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2>Detalle de Producto</h2>
      </div>
      <!-- Imagen -->
      <div class="col-md-6">
        <img src="../../../assets/img/camara.jpg" style="width: 400px" />
      </div>
      <!-- Imagen -->
      <!-- Detalle -->
      <div class="col-md-6">
        <div class="card me-5 mt-5 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center">
              Cámara Fotográfica Profesional
            </h5>
            <p class="font-italic">
              La Cámara Fotográfica Profesional Elegance 2023 es una obra
              maestra de la tecnología de captura de imágenes. Con una
              calidad de imagen excepcional y características innovadoras,
              esta cámara está diseñada para llevar tu creatividad a un
              nivel completamente nuevo.
            </p>
            <p class="text-center">Precio: $100.00</p>
            <p class="text-center">Disponibilidad: En Stock</p>
            <div class="mb-3 text-center">
              <input
                type="number"
                class="form-control text-center"
                id="quantity"
                value="1"
              />
            </div>
            <button class="btn btn-primary btn-block">
              Agregar al Carrito
            </button>
          </div>
        </div>
      </div>
      <!-- Detalle -->
    </div>
  </div>
</section>
