<section>
  <div
    class="container-fluid login vh-70 d-flex align-items-center justify-content-center mb-3"
  >
    <div class="row">
      <!-- Imagen -->
      <div class="col-md-6">
        <img
          src="../../../assets/img/img-iniciosesion.png"
          class="img-iniciosesion"
        />
      </div>
      <div class="col-md-6">
        <div class="card m-3 text-center d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
            <form [formGroup]="form" (ngSubmit)="register()">
              <div class="form-group">
                <input
                  type="nombre"
                  name="nombre"
                  class="form-control"
                  formControlName="nombre"
                  placeholder="Nombre*"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="apellido"
                  name="apellido"
                  class="form-control"
                  formControlName="apellido"
                  placeholder="Apellido*"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="usuario"
                  name="usuario"
                  class="form-control"
                  formControlName="usuario"
                  placeholder="Usuario*"
                  autocomplete="off"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="contrasena"
                  class="form-control"
                  formControlName="contrasena"
                  placeholder="Contraseña*"
                  autocomplete="off"
                />
              </div>
              <div class="d-flex justify-content-between mb-5">
                <button class="btn btn-dark m-1" type="submit" [disabled]="form.invalid || processingRequest">
                  Guardar
                </button>
                <a class="btn btn-dark m-1" type="submit" [routerLink]="['/login']">Iniciar sesion</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Formulario registro -->
    <!-- Registro -->
  </div>
</section>
