    <!-- Categorias -->
    <section id="collection">
      <div class="container">
        <div class="title text-center mt-4">
          <h2 class="position-relative d-inline-block">Categorías</h2>
          <p class="lead mx-5">
            Explora nuestras categorías de productos para encontrar lo que
            necesitas. Desde teclados de alta gama hasta diademas con sonido
            envolvente y relojes inteligentes, tenemos todo lo que buscas para
            mejorar tu estilo de vida digital.
          </p>
        </div>
        <div class="collection-list mt-4 row gx-0 gy-3">
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/teclado.jpg" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">Teclados</p>
              <p class="category-description">
                Descubre nuestra selección de teclados ergonómicos y de alta
                calidad para mejorar tu experiencia de escritura y juego.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/mouse.png" class="w-100" />
            </div>
            <div class="text-cent er">
              <p class="text-capitalize my-1">Mouse</p>
              <p class="category-description">
                Descubre nuestra selección de mouse gamers y de alta calidad
                para mejorar tu experiencia de escritura y juego.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 new">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/diadema.png" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">Diademas</p>
              <p class="category-description">
                Sumérgete en el mundo del sonido con nuestras diademas premium.
                Experimenta una calidad de audio excepcional mientras disfrutas
                de tus juegos, música y llamadas.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/relojInteligente.jpg" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">relojes inteligentes</p>
              <p class="category-description">
                Mantén un estilo de vida saludable y conectado con nuestros
                relojes inteligentes. Monitoriza tu actividad física, recibe
                notificaciones y mucho más.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/teclado.jpg" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">Teclados</p>
              <p class="category-description">
                Descubre nuestra selección de teclados ergonómicos y de alta
                calidad para mejorar tu experiencia de escritura y juego.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 feat">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/mouse.png" class="w-100" />
            </div>
            <div class="text-cent er">
              <p class="text-capitalize my-1">Mouse</p>
              <p class="category-description">
                Descubre nuestra selección de mouse gamers y de alta calidad
                para mejorar tu experiencia de escritura y juego.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 new">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/diadema.png" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">Diademas</p>
              <p class="category-description">
                Sumérgete en el mundo del sonido con nuestras diademas premium.
                Experimenta una calidad de audio excepcional mientras disfrutas
                de tus juegos, música y llamadas.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 best">
            <div class="collection-img position-relative">
              <img src="../../../assets/img/relojInteligente.jpg" class="w-100" />
            </div>
            <div class="text-center">
              <p class="text-capitalize my-1">relojes inteligentes</p>
              <p class="category-description">
                Mantén un estilo de vida saludable y conectado con nuestros
                relojes inteligentes. Monitoriza tu actividad física, recibe
                notificaciones y mucho más.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Categorias -->
