#header{
  background: url(../../../../assets/img/tiendapopaco.png) top/cover no-repeat;
}
.text-carousel{
  margin-top: 120px;
  font-family: Monserat;
}
.carousel-inner h1{
  font-size: 60px;
}
.carousel-item .btn{
  border-color: #fff!important;
}
.carousel-item .btn:hover{
  border-color: var(--pink)!important;
}

/* title */
.title h2::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

img {
  width: 80px;
  height: 280px;
}
