/* navbar: */
.navbar{
  background-color: #000000 !important;
}
.navbar .nav-item .nav-link {
  color: #fff !important;
}

.navbar .nav-item .nav-link:hover {
  background-color: #2C2C2C !important;
  border-radius: 0.25rem;
  color: #fff !important;
}

.fa-li {
  position: relative;
  left: 0;
}
