<section>
  <div class="container" style="margin: 50px">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2>Detalle de Producto</h2>
      </div>
      <!-- Imagen -->
      <div class="col-md-6">
        <img [src]="producto.img" style="width: 400px" />
      </div>
      <!-- Imagen -->
      <!-- Detalle -->
      <div class="col-md-6">
        <div class="card me-5 mt-5 d-flex align-items-center">
          <div class="card-body">
            <h5 class="card-title text-center">
              {{ producto.nombre }}

            </h5>
            <p class="font-italic">
              {{ producto.descripcion }}
            </p>
            <p class="text-center">Precio: ${{ producto.precio }}</p>
            <p class="text-center">Disponibilidad: En Stock</p>
            <div class="mb-3 text-center">
              <input
                type="number"
                class="form-control text-center"
                id="quantity"
                value="1"
              />
            </div>
            <button class="btn btn-primary btn-block" (click)="agregarCarrito(producto)">
              Agregar al Carrito
            </button>
          </div>
        </div>
      </div>
      <!-- Detalle -->
    </div>
  </div>
</section>
